@import "../constants.scss";

.footer-wrapper {
  background-color: rgba(0, 0, 0, 0.1);

  width: calc(100% - 30px);
  height: 40px;
  margin: 5px;
  padding: 5px 10px;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
