@import "../common.scss";

.footer-wrapper {
  background-color: rgba(255, 251, 12, 0.945);

  width: calc(100% - 30px);
  height: 100px;
  margin: 5px;
  padding: 5px 10px;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  height: 80px;
  width: auto;
  padding: 20px 10px;
}