@import "../common.scss";

.exhibition-item-wrapper {
  position: relative;
}

.exhibition-item {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.exhibition-item-title {
  position: absolute;
  bottom: 1.0rem;
  left: 1.0rem;
  background: $titleBgColor;
  padding: 0.5rem 1.0rem;

  font-size: 2.0rem;
  font-weight: bold;
}

