@import "../common.scss";

.exhibition-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; // Space between items
  justify-content: space-between; // Adjust spacing between rows

  > * {
    flex: 1 1 calc(33.333% - 10px); // 3 items per row with gap adjustment
    box-sizing: border-box; // Ensure padding and border are included in width
  }
}
