@import "common.scss";

// Rest of your SCSS code here
.app-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  // background-color: lime;
  // background-color: rgb(237, 237, 168);
  background-color: $bgColor;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

