@import "../common.scss";

.artist-page-wrapper {
  @include page-wrapper();
}

.artist-links {
  font-size: 1.2rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px 20px 10px 20px;
}